<!--variable definitions-->
<%
let author = post.Author(tx)
let likesCount = post.LikesCount(tx)
%>

<!--post title-->
<div class="row">
    <div class="col-md-12">
        <h1><%= post.Title %></h1>
    </div>
</div>

<!--post content-->
<hr class="divider"/>
<div class="row">
    <div class="col-md-12">
        <p><%= post.Content %></p>
    </div>
</div>

<!--post details-->
<div class="row">
    <div class="col-md-12 text-right small">
        <p>Posted by: <%= author.Name %></p>
        <p>On <%= post.UpdatedAt.Format("Mon Jan 2, 2006 3:04PM MST") %></p>
    </div>
</div>
<hr class="divider"/>

<!--portion for like/dislike button-->
<div class="row">
    <div class="col-md-12">
        <input type="hidden" name="post_id" value="<%= post_id %>">
        <a id="likeBtn" class="btn btn-default">
            <span class="glyphicon"></span>
            <span class="txt"></span>
            | <span class="like-count"><%= likesCount %></span>
        </a>
        <% } %>
        <p id="reqLoginMsg" class="hide">Please signin to like or post comments.</p>
    </div>
</div>
<br/>

<!--portion for comment -->
<div class="row">
    <div id="comments-container" class="col-md-12">

    </div>
</div>
<br/>

<%= contentFor("script") { %>
<script type="text/javascript">
    let likeBtn = $("#likeBtn");
    let userSignedIn = eval("<%= userSignedIn %>");
    //    initial value for the like button
    let userLikedThisPost = eval("<%= userSignedIn && post.LikedBy(tx, user) %>");
    function setupLikeBtn() {
        likeBtn.find('.txt').text(userLikedThisPost ? "Unlike" : "Like");
        likeBtn.find('.glyphicon').removeClass("glyphicon-heart glyphicon-heart-empty").addClass(userLikedThisPost ? "glyphicon-heart" : "glyphicon-heart-empty");
    }
    likeBtn.click(function () {
        let btn = $(this);
        if (!userSignedIn) {
            $("#reqLoginMsg").removeClass("hide");
            return
        }
        btn.addClass("disabled");
        $.post("/like", {post_id: "<%= post_id %>", authenticity_token: "<%= authenticity_token %>"},
            function (data) {
                btn.removeClass("disabled");
                btn.find(".like-count").text(data.count);
                userLikedThisPost = !userLikedThisPost;
                setupLikeBtn();
            }).fail(function () {
            btn.removeClass("disabled");
        });
    });
    setupLikeBtn();

    //    initialize comments
    $('#comments-container').comments({
        enableReplying: false,
        enableUpvoting: false,
        forceResponsive: true,
        getComments: function (success, error) {
            $.getJSON('<%= commentsPath({post_id: post_id}) %>', success).fail(error);
        },
        postComment: function (commentJson, success, error) {
            delete commentJson.id
            $.post('<%= commentsPath({post_id: post_id}) %>', commentJson, success).fail(error);
        }
    });
</script>
<% } %>
