<!--variable definitions-->
<%
let author = post.Author(tx)
let likesCount = post.LikesCount(tx)
%>

<!--post title-->
<div class="row">
    <div class="col-md-12">
        <h1><%= post.Title %></h1>
    </div>
</div>

<!--post content-->
<hr class="divider"/>
<div class="row">
    <div class="col-md-12">
        <p><%= post.Content %></p>
    </div>
</div>

<!--post details-->
<div class="row">
    <div class="col-md-12 text-right small">
        <p>Posted by: <%= author.Name %></p>
        <p>On <%= post.UpdatedAt.Format("Mon Jan 2, 2006 3:04PM MST") %></p>
    </div>
</div>
<hr class="divider"/>

<!--portion for like/dislike button-->
<div class="row">
    <div class="col-md-12">
        <a id="likeBtn" class="btn btn-default">
        <%= if((userSignedIn == "true") && post.LikedBy(tx, user)) { %>
            <span class="glyphicon glyphicon-heart"></span> UnLike
        <% } else { %>
            <span class="glyphicon glyphicon-heart-empty"></span> Like
        <% } %>
            | <%= likesCount %>
        </a>
        <p id="reqLoginMsg" class="hide">Please signin to like or post comments.</p>
    </div>
</div>
<br/>
<%= contentFor("script") { %>
<script type="text/javascript">
    var userSignedIn = <%= userSignedIn %>;
    $("#likeBtn").click(function () {
        if(!userSignedIn) {
            $("#reqLoginMsg").removeClass("hide");
        }
    })
</script>
<% } %>
