@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
}
