<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Golang multi user blog">
    <meta name="author" content="jnoortheen@gmail.com">

    <title>Bloggy <%= pageTitle %></title>
    <link rel="stylesheet" href="/assets/application.css" type="text/css" media="all"/>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="<%= authenticity_token %>"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= contentOf("extra_head") %>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bloggy</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/posts/new">Create Post</a>
                </li>
                <%= if(editablePost) {%>
                    <li>
                        <a href="/posts/<%= post_id %>/edit">Edit</a>
                    </li>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%= if(userSignedIn) { %>
                <li>
                    <a href="/auth/signout"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a>
                </li>
                <% } else { %>
                <li>
                    <a href="/auth/signin"><i class="fa fa-sign-in" aria-hidden="true"></i>Signin</a>
                </li>
                <li>
                    <a href="/auth/signup"><i class="fa fa-level-up" aria-hidden="true"></i>Signup</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <%= partial("flash.html") %>

    <%= yield %>
</div>
<%= contentOf("extra_container") %>

<script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
<%= contentOf("script") %>
</body>
</html>
